%tr
  %td
    - case email.priority
    - when /^high/
      .label.label-alert
        = icon('exclamation')
        high priority
    - when /^low/
      .label.label-info
        = icon('min')
        low priority
    - else
      = nil
  %td= l email.date, format: :long
  %td
    %ul
      - email.from_addresses.each do |address|
        %li= address.to_s
  %td
    %ul
      - email.to_addresses.each do |address|
        %li= address.to_s
  %td
    - case email.type
    - when 'Spina::Admin::Mail::InboundEmail'
      = link_to email.subject, spina.admin_mail_inbound_email_path(email), class: 'table-link'
    - when 'Spina::Admin::Mail::OutboundEmail'
      = link_to email.subject, spina.admin_mail_outbound_email_path(email), class: 'table-link'
    - else nil
