- content_for(:header_actions) do
  = link_to spina.new_admin_mail_mailbox_path, class: 'button button-primary', style: 'margin-right: 0' do
    = icon('plus')
    = t('spina.admin.mail.mailboxes.new')

.well
  .table-container
    %table.table
      %thead
        %tr
          %th= Spina::Admin::Mail::Mailbox.human_attribute_name :name
          %th= Spina::Admin::Mail::Mailbox.human_attribute_name :email_address
          %th

      %tbody
        - if @mailboxes.any?
          = render partial: 'spina/admin/mail/shared/mailbox', collection: @mailboxes

        - else
          %tr
            %td.align-center{ colspan: 100 }
              %em= t('spina.admin.mail.mailboxes.no_mailboxes')
