!= @outbound_email.message.to_plain_text
\
- if @quoted_email.present?
  != "On #{l(@quoted_email.date, format: :long)}, #{@quoted_email.from_addresses.collect(&:to_s).to_sentence} wrote:"
  != format_paragraph(@quoted_email.message.to_plain_text)
